nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  background: white;
  display: flex;
  flex-direction: row;
}

@media (max-width: 470px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
}